[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
faker = "*"

[packages]
django = "*"
mysqlclient = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
djangorestframework-jwt = "*"
itsdangerous = "*"
coreapi = "*"
uvicorn = "*"
django-mdeditor = "*"
gunicorn = "*"
django-simpleui = "*"
django-cors-headers = "*"

[requires]
python_version = "3.7"
